* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    background-size: cover;  /* Ensures the image covers the entire screen */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 1rem;
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-info p {
    margin: 5px 0;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

.contact-form button:hover {
    background: #0056b3;
}
